node-red_axis_vmd4.json
[{"id":"0e2ce43caf57977e","type":"tab","label":"Front Light","disabled":false,"info":"","env":[]},{"id":"4d8f4d180ba02ed6","type":"time-range-switch","z":"0e2ce43caf57977e","name":"","lat":"39.162280454736035","lon":"-77.20028848392576","startTime":"sunset","endTime":"sunrise","startOffset":"+20","endOffset":"-20","x":300,"y":180,"wires":[["ece0910df14ab12e"],["60726a4cb312e023"]]},{"id":"e0d17112d24a4cc2","type":"server-state-changed","z":"0e2ce43caf57977e","name":"VMD4","server":"3ab703e5.1dd68c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.m3105_l_0_vmd4_camera1profileany","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":180,"wires":[["4d8f4d180ba02ed6"],[]]},{"id":"ece0910df14ab12e","type":"time-range-switch","z":"0e2ce43caf57977e","name":"","lat":"39.162280454736035","lon":"-77.20028848392576","startTime":"sunset","endTime":"21:00","startOffset":0,"endOffset":0,"x":560,"y":120,"wires":[["d1eb281466f01780"],["5e71666a3831b6d7"]]},{"id":"5e71666a3831b6d7","type":"time-range-switch","z":"0e2ce43caf57977e","name":"","lat":"39.162280454736035","lon":"-77.20028848392576","startTime":"21:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":550,"y":180,"wires":[["5d302f2f08b45cb1"],["9e09548bffbd1ea6"]]},{"id":"9e09548bffbd1ea6","type":"time-range-switch","z":"0e2ce43caf57977e","name":"","lat":"39.162280454736035","lon":"-77.20028848392576","startTime":"22:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":560,"y":240,"wires":[["c4cecbf830cb698e"],[]]},{"id":"d1eb281466f01780","type":"api-call-service","z":"0e2ce43caf57977e","name":"Full Mode","server":"3ab703e5.1dd68c","version":5,"debugenabled":true,"domain":"script","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.turn_on_front"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":120,"wires":[["211917aa1323163a"]]},{"id":"5d302f2f08b45cb1","type":"api-call-service","z":"0e2ce43caf57977e","name":"Dim Mode","server":"3ab703e5.1dd68c","version":5,"debugenabled":true,"domain":"script","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.turn_on_dim"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":180,"wires":[["211917aa1323163a"]]},{"id":"c4cecbf830cb698e","type":"api-call-service","z":"0e2ce43caf57977e","name":"Sleep Mode","server":"3ab703e5.1dd68c","version":5,"debugenabled":true,"domain":"script","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.turn_on_sleep"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":240,"wires":[["211917aa1323163a"]]},{"id":"211917aa1323163a","type":"delay","z":"0e2ce43caf57977e","name":"Random Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3","randomLast":"8","randomUnits":"minutes","drop":false,"allowrate":false,"outputs":1,"x":1000,"y":180,"wires":[["60726a4cb312e023"]]},{"id":"60726a4cb312e023","type":"api-call-service","z":"0e2ce43caf57977e","name":"Off","server":"3ab703e5.1dd68c","version":5,"debugenabled":true,"domain":"script","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.turn_off_front"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":360,"wires":[[]]},{"id":"3ab703e5.1dd68c","type":"server","name":"Home Assistant","addon":true}]
