node-red_axis_vmd4-email-notification.json
[{"id":"966bebd7d7bc830c","type":"tab","label":"Front Light","disabled":false,"info":"","env":[]},{"id":"26326ae83da0540a","type":"time-range-switch","z":"966bebd7d7bc830c","name":"","lat":"39.162280454736035","lon":"-77.20028848392576","startTime":"dusk","endTime":"dawn","startOffset":"0","endOffset":"0","x":290,"y":180,"wires":[["3b77c3a701ac0495","d42722581a081e35"],["50bdbd2b49e50887"]]},{"id":"87ef916e916e0e06","type":"server-state-changed","z":"966bebd7d7bc830c","name":"VMD4","server":"3ab703e5.1dd68c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.m3105_l_0_vmd4_camera1profileany","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":180,"wires":[["26326ae83da0540a","6917c13f11b97ac5"],[]]},{"id":"3b77c3a701ac0495","type":"time-range-switch","z":"966bebd7d7bc830c","name":"","lat":"39.162280454736035","lon":"-77.20028848392576","startTime":"dusk","endTime":"21:30","startOffset":0,"endOffset":0,"x":550,"y":120,"wires":[["6904f1668b668756"],["39e4ce5669c12fbb"]]},{"id":"39e4ce5669c12fbb","type":"time-range-switch","z":"966bebd7d7bc830c","name":"","lat":"39.162280454736035","lon":"-77.20028848392576","startTime":"21:30","endTime":"22:00","startOffset":0,"endOffset":0,"x":550,"y":180,"wires":[["02b375f9a2a9c3b7"],["e489e0ce4c3d57a7"]]},{"id":"e489e0ce4c3d57a7","type":"time-range-switch","z":"966bebd7d7bc830c","name":"","lat":"39.162280454736035","lon":"-77.20028848392576","startTime":"22:00","endTime":"dusk","startOffset":0,"endOffset":0,"x":550,"y":240,"wires":[["f8416d1732999ba7"],[]]},{"id":"6904f1668b668756","type":"api-call-service","z":"966bebd7d7bc830c","name":"Full Mode","server":"3ab703e5.1dd68c","version":5,"debugenabled":true,"domain":"script","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.turn_on_front"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"entity state","valueType":"str"},{"property":"data","propertyType":"msg","value":"event data","valueType":"str"},{"property":"topic","propertyType":"msg","value":"entity id","valueType":"str"}],"queue":"none","x":800,"y":120,"wires":[["3ba51937188cfa6b"]]},{"id":"02b375f9a2a9c3b7","type":"api-call-service","z":"966bebd7d7bc830c","name":"Dim Mode","server":"3ab703e5.1dd68c","version":5,"debugenabled":true,"domain":"script","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.turn_on_dim"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"entity state","valueType":"str"},{"property":"data","propertyType":"msg","value":"event data","valueType":"str"},{"property":"topic","propertyType":"msg","value":"entity id","valueType":"str"}],"queue":"none","x":810,"y":180,"wires":[["3ba51937188cfa6b"]]},{"id":"f8416d1732999ba7","type":"api-call-service","z":"966bebd7d7bc830c","name":"Sleep Mode","server":"3ab703e5.1dd68c","version":5,"debugenabled":true,"domain":"script","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.turn_on_sleep"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"entity state","valueType":"str"},{"property":"data","propertyType":"msg","value":"event data","valueType":"str"},{"property":"topic","propertyType":"msg","value":"entity id","valueType":"str"}],"queue":"none","x":810,"y":240,"wires":[["3ba51937188cfa6b"]]},{"id":"3ba51937188cfa6b","type":"delay","z":"966bebd7d7bc830c","name":"Random Delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"3","randomLast":"8","randomUnits":"minutes","drop":false,"allowrate":false,"outputs":1,"x":1180,"y":180,"wires":[["50bdbd2b49e50887"]]},{"id":"50bdbd2b49e50887","type":"api-call-service","z":"966bebd7d7bc830c","name":"Off","server":"3ab703e5.1dd68c","version":5,"debugenabled":true,"domain":"script","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.turn_off_front"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"entity state","valueType":"str"},{"property":"data","propertyType":"msg","value":"event data","valueType":"str"},{"property":"topic","propertyType":"msg","value":"entity id","valueType":"str"}],"queue":"none","x":710,"y":360,"wires":[[]]},{"id":"d42722581a081e35","type":"change","z":"966bebd7d7bc830c","name":"Reset Random Delay","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":40,"wires":[["3ba51937188cfa6b"]]},{"id":"7e54947a3b6c47d8","type":"e-mail","z":"966bebd7d7bc830c","server":"smtp.gmail.com","port":"465","authtype":"BASIC","saslformat":true,"token":"oauth2Response.access_token","secure":true,"tls":true,"name":"","dname":"","x":630,"y":480,"wires":[]},{"id":"0879fb8d715f3d15","type":"change","z":"966bebd7d7bc830c","name":"Notification","rules":[{"t":"set","p":"payload","pt":"msg","to":"Motion Detected","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Motion Detected!","tot":"str"},{"t":"set","p":"filename","pt":"msg","to":"snapshot.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":480,"wires":[["7e54947a3b6c47d8"]]},{"id":"6917c13f11b97ac5","type":"http request","z":"966bebd7d7bc830c","name":"Get Image","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://URL/jpg/1/image.jpg","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"basic","senderr":false,"headers":[],"x":250,"y":360,"wires":[["0879fb8d715f3d15"]]},{"id":"3ab703e5.1dd68c","type":"server","name":"Home Assistant","addon":true}]
